<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.13/dist/vue.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css" />
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.3/dist/katex.min.css" integrity="sha384-Juol1FqnotbkyZUT5Z7gUPjQ9gzlwCENvUZTpQBAPxtusdwFLRy382PSDx5UUJ4/" crossorigin="anonymous">
    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.3/dist/katex.min.js" integrity="sha384-97gW6UIJxnlKemYavrqDHSX3SiygeOwIZhwyOKRfSaf0JWKRVj9hLASHgFTzT+0O" crossorigin="anonymous"></script> 

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  </head>

  <body>
    <a href="/">
      <h1 th:text="${title}">title</h1>
    </a>
    
    <div id="app">

      <el-card class="box-card" v-for="ex in exams" :key="ex.id">
        <div slot="header" class="clearfix">
          <span>{{ ex.title }}</span>
          <el-button
            style="float: right; padding: 3px 0"
            type="text"
            @click="clearAnswer(ex)">Clear</el-button>
        </div>

        <el-radio-group v-if="ex.type == 'MC'" v-model="ex.answer">
          <el-radio v-for="co in ex.choice" :key="co" :label="co">{{ co }}</el-radio>
        </el-radio-group>

        <div v-else-if="ex.type == 'SA'">
          <el-input
            placeholder="주관식"
            size="normal"
            clearable
            v-model="ex.answer">
          </el-input>
        </div>

        <div v-else-if="ex.type == 'SC'">
          <el-switch
            v-model="ex.answer"
            active-text="O"
            inactive-text="X">
          </el-switch>
        </div>

        <div v-else-if="ex.type == 'MF'">
          <div v-if="ex.answer" v-html="ex.result"></div>
          <div v-else @click="showMathForm(ex)">수식입력 입력하시려면 터치하세요</div>
        </div>
      </el-card>

      <br />
      <el-button type="danger" size="large" @click="goHome">제출</el-button>
    </div>
  </body>
  <script th:inline="javascript">
/*<![CDATA[*/
    const _id = /*[[ ${id} ]]*/"";
    const _title = /*[[ ${title} ]]*/"";
    const _exams = /*[[ ${exams} ]]*/[];
/*]]>*/
  </script>
    
  <script src="/js/study/exam.js"></script>
</html>
