<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.13/dist/vue.js"></script>
    <link
      rel="stylesheet"
      href="https://unpkg.com/element-ui/lib/theme-chalk/index.css"
    />
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
  </head>

  <body>
    <div id="app">
      <h1>[[${name}]] 학생!! 공부합시다</h1>

      <h2>시험 대상 목록</h2>
      <el-card v-for="q in quiz" shadow="always" :body-style="{ padding: '20px' }" :key="q.id">
        <span @click="goExam(q.id)">{{ q.title }}</span>
      </el-card>
      
  
      <h2>시험 결과 목록</h2>
      <el-card v-for="r in results" shadow="always" :body-style="{ padding: '20px' }" :key="r.id">
        <span>{{ r.title }}</span>
      </el-card>
    </div>
  </body>
  <script th:inline="javascript">
/*<![CDATA[*/
    const _quiz = /*[[ ${quizList} ]]*/[];
    const _result = /*[[ ${result} ]]*/[];
/*]]>*/
  </script>

  <script src="/js/study/home.js"></script>
</html>
